@CHARSET "UTF-8";

.left_page_content_wrap {
	float: left;
	width: 700px;
}

.right_page_content_wrap {
	float: right;
	width: 260px;
}

#newsYearList li {
	line-height: 45px;
	border-bottom: 1px solid #dedede;
	background: url(../../img/arrow_icon.gif) no-repeat 30px 15px;
	text-indent: 55px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	/* border-left: 1px solid #dedede;
	border-right: 1px solid #dedede; */
	width: 247px;
}

#newsList .block_content_item {
	margin: 0 20px;
	padding: 5px 0;
	overflow: hidden;
	border-bottom: 1px dashed #CCC;
}

#newsList .block_content_item_title {
	float: left;
}

#newsList .block_content_item_date {
	float: right;
}