@CHARSET "UTF-8";

.left_page_content_wrap {
	float: left;
	width: 270px;
}

.right_page_content_wrap {
	float: right;
	width: 700px;
}

#serviceList li {
	line-height: 45px;
	border-bottom: 1px dashed #dedede;
	background: url(../../img/arrow_icon.gif) no-repeat 30px 15px;
	text-indent: 55px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	/* border-left: 1px solid #dedede;
	border-right: 1px solid #dedede; */
	width: 247px;
}

