@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "Microsoft YaHei", "宋体", "Trebuchet MS", "Arial",
		"Helvetica", "Verdana", "sans-serif";
	font-size: 12px;
	margin: 0 0 0 0;
	color: #333333;
	line-height: 150%;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

img {
	border: 0px;
	vertical-align: middle;
}

ol, ul, li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/* 顶部导航的样式Start */
.top_wrap {
	width: 100%;
	background: #f6f6f6;
	border-bottom: 1px #cfcfcf solid;
	height: 40px;
	line-height: 40px;
}

#top_left_menu>li {
	float: left;
	margin: auto 10px auto 0px;
}

#top_right_menu>li {
	float: left;
	margin: auto 0px auto 10px;
}

.top_content_logo {
	margin: 10px 0 0 0;
	height: 80px;
	line-height: 80px;
}

.top_content_logo img {
	height: 80px;
}

/* 顶部导航的样式End */

/* 网页内容部分的包裹Start */
.page_content_wrap {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
/* 网页内容部分的包裹End */

/* Channel Menu 的样式 Start */
.main_menu_wrap{
	background-color: #134780;
	width: 100%;
	overflow: hidden;
}

.channel_menu {
	height: 40px;
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	color: RGB(255, 255, 255);
}

.channel_menu>ul {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	height: 40px;
}

.channel_menu>li {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.channel_menu>li>a {
	color: RGB(255, 255, 255);
	display: block;
}

.channel_menu>li>a:hover {
	background-color: RGB(0, 32, 133);
	font-weight: bold;
}

.channel_menu .focus {
	background-color: RGB(0, 32, 133);
	font-weight: bold;
}
/* Channel Menu 的样式 End */

/* 底部式样 Start */
.footer_wrap {
	clear:both;
    margin-top: 10px;
    text-align: center;
    background-color: RGB(54, 54, 54);
    color: RGB(255, 255, 255);
    padding: 5px;
}
/* 底部式样 End */

/* 区块的样式 Start */
.block {
	margin-top: 10px;
}
/* 区块的样式 End */