@CHARSET "UTF-8";

/* 幻灯片 */
#slide {
	height: 300px;
	margin-top: 10px;
	overflow: hidden;
}

.slides {
	position: relative;
	border: solid 1px #ddd;
}

.slides>.slide-pic {
	overflow: hidden;
}

.slides>.slide-pic>li {
	display: none;
}

/* 必要元素 */
.slides>.slide-pic>li.current {
	display: block;
}

/* 必要元素 */
.slides>.slide-li {
	left: 0px;
	bottom: 1px;
	position: absolute;
}

/* 必要元素 */
.slides>.slide-li>li {
	float: left;
	width: 154px;
	line-height: 30px;
	margin-right: 1px;
	height: 30px;
	text-align: center;
}

.slides>.slide-li a {
	display: block;
	font-size: 14px;
	color: #fff;
	height: 30px;
	text-decoration: none;
}

.slides>.slide-li li.current a {
	color: #333;
	text-decoration: none;
}

.slides>.op {
	filter: alpha(opacity = 60);
	opacity: 0.6;
}

.slides>.op li {
	background: #666;
}

.slides>.op li.current {
	background: #fff;
}

.left_page_content_wrap {
	float: left;
	width: 700px;
}

.right_page_content_wrap {
	float: right;
	width: 260px;
}

#productList {
	margin-top: 10px;
}

#contact {
	margin-top: 10px;
}


.block_content_item {
	padding: 10px 0;
	overflow: hidden;
	border-bottom: 1px dashed #CCC;
}

#contact .block_content_item_title {
	padding-left: 20px;
}

#productList .block_content_item_title {
	font-size: 14px;
}

#serviceList .block_content_item_title {
	font-size: 14px;
}

#contact .block_content_item_title {
	padding-left: 10px;
}

.block_content_item_date {
	float: right;
}

/* 我们的服务展示图片 */
.block_content_item_image {
	float: left;
	width: 200px;
	height: 150px;
}

.block_content_item_image  img {
	width: 200px;
	height: 150px;
}

.block_content_item_text{
	width: 480px;
	float: right;
}

.block_content_item_summary{	
	padding: 10px 0;
}

#contact .block_content_item {
	padding: 5px 0;
	overflow: hidden;
}